<div>
  <img src= <%= user_img_or_default(@user) %> alt="User profile picture">
  <h3><%= @user.name %></h3>
  <p><%= @user.current_city %></p>
  <p>Noisy since <%= @user.created_at.strftime("%B %d, %Y") %></p>
  <%explode if current_user == @user %>
    <%= button_to "Edit", edit_user_registration_path, method: "get" %>
  <% end %>
</div>

<div>
  <% if !@user.flags.empty? %>
    <div>
      <h5><%= @user == current_user ? "Your " : @user.name + "'s "%>Flags</h5>
      <% @user.flags.each do |flag| %>
        <div><%= link_to flag.name, flag_path(flag) %></div>
      <% end %>
    </div><br />
  <% end %>
  <div>
    <%= link_to "Plant a Flag!", new_flag_path %>
  </div>
</div>

<div class="feed">
  <% if actions(@user).length > 0 %>
    <% actions(@user).each do |action| %>
      <% if action.class == Flag %>
        <div class="action"><%= action.verb %> <%= link_to action.name, flag_path(action)%>- <%=time_ago_in_words(action.created_at) %> ago</div>
      <% elsif action.class == Entry%>
        <div class="action"><%= action.verb %> "<%= action.track.name %>" by <%= action.track.artist %> to <%= link_to action.flag.name, flag_path(action.flag)%>- <%=time_ago_in_words(action.created_at) %> ago</div>
      <% elsif action.class == ActsAsVotable::Vote%>
        <div class="action"><%= action.vote_flag == true ? "Upvoted" : "Downvoted" %> "<%= entry_for_vote(action).track.name %>" by <%= entry_for_vote(action).track.artist %> at <%= link_to entry_for_vote(action).flag.name, flag_path(entry_for_vote(action).flag)%>- <%=time_ago_in_words(action.created_at) %> ago</div>
      <% elsif action.class == Checkin %>
        <div class="action"><%= action.verb %> at <%= link_to action.flag.name, flag_path(action.flag)%>- <%=time_ago_in_words(action.created_at) %> ago</div>
      <% end %>
    <% end %>
  <% end %>
  <%= will_paginate @list %>
</div>
