<div>
  <h3><%= @user.name %></h3>
  <p><%= @user.current_city %></p>
  <p>Noisy since <%= @user.created_at.strftime("%B %d, %Y") %></p>
  <% if current_user == @user %>
    <%= button_to "Edit", edit_user_registration_path, method: "get" %>
  <% end %>
</div>

<div>
  <% if !@user.flags.empty? %>
    <div>
      <h5><%= @user == current_user ? "Your " : @user.name + "'s "%>Flags</h5>
      <% @user.flags.each do |flag| %>
        <div><%= link_to flag.name, flag_path(flag) %></div>
      <% end %>
    </div><br />
  <% end %>
  <div>
    <%= link_to "Plant a Flag!", new_flag_path %>
  </div>
</div>
