<%= render "shared/header" %>


<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
  <div class="map-card">
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@flag.address}&markers=icon:https://goo.gl/z5p5H1|#{@flag.latitude},#{@flag.longitude}&zoom=15&size=480x300&key=AIzaSyCgLSktRs58zsQ33m06GoGOgexCNJuOruA",
                  class: 'img-fluid img-rounded', alt: "Flags on the map"%>
    <br />
    <br />

    <%= render 'form', flag: @flag %>
    <%= link_to 'Back', flags_path %><br />
    <br />
    <%= link_to 'Delete Flag', flag_path(@flag), method: 'delete' %>
  </div>
</div>
