<%= render "shared/header" %>
<% if !have_recent_location? %>
  <script>
  $(document).on('turbolinks:load', function() {
    getGeoLocation();
  });
  </script>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="container wrap">
      <div class="col-md-8">
        <form class="navbar-form" role="search">
          <div class="form-group">
            <input type="text" name="center" placeholder="search by city, address, or monument" class="form-control">
          </div>
          <input type="submit" class="btn btn-primary btn-cust">
        </form>
      </div>
      <div class="col-md-4 align">
        <div class="col-md-12">or</div>
        <div class="col-md-12"><%= link_to "Use my location", root_path %></div>
      </div>
    </div>
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{center}#{markers_string(@flags)}&zoom=12&size=480x300&key=AIzaSyCgLSktRs58zsQ33m06GoGOgexCNJuOruA",
                  class: 'img-fluid img-rounded', alt: "Flags on the map"%>
  </div>
</div>

<br />
<div class="col-md-6 col-md-offset-3">
  <% @flags.each do |flag|%>
    <%= render :partial => "shared/flag", locals: {flag: flag}%>
  <% end %>
  <%= will_paginate @flags%>
</div>
