<%= render "shared/header" %>

<% if !have_recent_location? %>
  <script>
  $(document).on('turbolinks:load', function() {
    getGeoLocation();
  });
  </script>
<% end %>
<div class="col-md-6">
  <% if user_near_flag?(@flag) %>
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@flag.latitude},#{@flag.longitude}&markers=icon:https://goo.gl/z5p5H1|#{@flag.latitude},#{@flag.longitude}&zoom=15&size=480x300&key=AIzaSyCgLSktRs58zsQ33m06GoGOgexCNJuOruA",
                class: 'img-fluid img-rounded', alt: "#{@flag.name} on the map"%>
  <% else %>
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@flag.latitude},#{@flag.longitude}&markers=icon:https://goo.gl/z5p5H1|#{@flag.latitude},#{@flag.longitude}&zoom=12&size=480x300&key=AIzaSyCgLSktRs58zsQ33m06GoGOgexCNJuOruA",
                class: 'img-fluid img-rounded', alt: "#{@flag.name} on the map"%>
  <% end %>
  <h3>
    <%= @flag.name %>
  </h3>
  <div><%= @flag.address %></div>
  <p>Checkins - Active: <%= num_active_checkins(@flag)%> | Total: <%= num_total_checkins(@flag) %></p>
  <div>
    <% if !user_checked_in?(@flag) && user_near_flag?(@flag)%>
      <%= link_to "Check in", checkins_path(@flag), method: "post" %>
    <% elsif user_checked_in?(@flag)%>
      Checked in<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <% end %>
  </div><br />
  <strong>Host:</strong>
  <%= link_to @flag.user.name, user_path(@flag.user) %>
  <div><%= @flag.description %></div>
  <%= link_to 'Edit', edit_flag_path(@flag) if current_user == @flag.user%>
</div>
<div class="col-md-6">
  <% if user_checked_in?(@flag) %>
    <%= render "search_tracks", flag: @flag %>
     <!-- to be used with react magic later
     <#%= react_component("TracksApp", props: @tracks_props, prerender: false) %>
      -->
  <% end %>
  <div>
    <% if @flag.entries.length == 0 %>
      No tracks yet! Someone fix that asap
    <% else %>
      <h3>Tracks:</h3>
      <% @flag.entries.each do |entry| %>
        <%= render :partial => "shared/entry", locals: {track: entry.track, entry: entry} %>
      <% end %>
    <% end %>
  </div>
</div>
