<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Noiseflag</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Arimo|Lato" rel="stylesheet">

  </head>

  <body>
    <header>
      <div class="errors">
        <% if notice %>
          <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span class="notice" id="notice"><%= notice %></span>
          </div>
        <% elsif alert %>
        <div class="alert alert-warning" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="alert"><%= alert %></span>
        </div>
        <% end %>
      </div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav nav-cust">
            <li><%= link_to "Home", root_path %></li>
            <% if !current_user %>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% else %>
              <li><%= link_to "My Profile", user_path(current_user) %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: 'delete' %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="container-fluid">

        <%= yield %>

      </div>
    </main>
  </body>
</html>
